<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @casamentos, remote: true %>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 10%">
            <%= sort_link @search, :pagina, 'Página', {}, { remote: true, method: :get } %>
          </th>
          <th style="width: 20%">
            <%= sort_link @search, :codigo, 'Código', {}, { remote: true, method: :get } %>
          </th>
          <th style="width: 40%">
            <%= sort_link @search, :descricao, 'Descrição', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-right" style="width: 15%">
            <%= sort_link @search, :preco, 'Preço', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center" style="width: 10%">
            <%= sort_link @search, :un, 'Unidade', {}, { remote: true, method: :get } %>
          </th>
          <th><br></th>
        </tr>
      </thead>
      <tbody>
        <% @casamentos.each do |c| %>
          <tr>
            <td> <%= c.pagina %> </td>
            <td> <%= c.codigo %> </td>
            <td> <%= raw c.descricao %> </td>
            <td class="text-right"> <%= format_currency c.preco %> </td>
            <td class="text-center"> <%= c.un %> </td>
            <td class="text-right">
              <%= link_details_to '', edit_grafiara_casamento_path(c) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @casamentos, remote: true %>
  </div>
</div>
<!-- /.row -->
