<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @casamentos, remote: true %>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="w-10">
            <%= sort_link @search, :pagina, 'Página', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-20">
            <%= sort_link @search, :codigo, 'Código', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-40">
            <%= sort_link @search, :descricao, 'Descrição', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-20 text-right">
            <%= sort_link @search, :preco, 'Preço', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-10 text-center">
            <%= sort_link @search, :un, 'Unidade', {}, { remote: true, method: :get } %>
          </th>
          <% if logged_in? %>
            <th><br></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @casamentos.each do |c| %>
          <tr>
            <td> <%= c.pagina %> </td>
            <td> <%= c.codigo %> </td>
            <td> <%= raw c.descricao %> </td>
            <td class="text-right"> <%= format_currency c.preco %> </td>
            <td class="text-center"> <%= c.un %> </td>
            <% if logged_in? %>
              <td class="text-right">
                <%= link_details_to '', edit_grafiara_casamento_path(c) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @casamentos, remote: true %>
  </div>
</div>
<!-- /.row -->
