<%= form_for :session, url: login_path, remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Fazer', 'Login' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
          <% if @error %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <p><%= @error %></p>
              </div>
            </div>
          <% end %>

          <div class="form-group">
            <%= form_label 'Usuário' %>
            <%= f.text_field :user, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form_label :senha %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <div class="checkbox">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  <span>Lembre-me neste computador</span>
                <% end %>
              </div>
            </div>
          </div>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f, 'Entrar' %>
  </div>
  <!-- /.modal-footer -->

<% end %>
