<%= form_for :session, url: login_path, html: { id: 'form-login' } do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Fazer', 'Login' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <div class="form-group">
      <%= form_label 'Usuário' %>
      <%= f.text_field :user, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form_label :senha %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group text-right">
      Lembre-me neste computador &nbsp;
      <%= f.label :remember_me, class: 'switch switch-icon switch-success' do %>
        <%= f.check_box :remember_me, class: 'switch-input' %>
        <span class="switch-label"></span>
        <span class="switch-handle"></span>
      <% end %>
    </div>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f, 'Entrar' %>
  </div>
  <!-- /.modal-footer -->

<% end %>
