<%= form_for @tinta, remote: true, url: yield(:url), html: { class: 'form-horizontal' } do |f| %>

<div class="modal-header">
  <h3>Olar</h3>
</div>
<!-- /.modal-header -->

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :cor, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :nome, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :marca, class: 'control-label col-sm-2' %>
          <div class="col-sm-10">
            <%= f.text_field :marca, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Preço Kg', class: 'control-label col-sm-2' %>
          <div class="col-sm-3">
            <%= f.collection_select :moeda,
                                    moedas,
                                    :value,
                                    :text,
                                    { include_blank: false },
                                    { class: 'form-control' } %>
          </div>
          <div class="col-sm-3" %>
            <%= f.text_field :preco_kg, class: 'form-control calculable' %>
          </div>

        </div>

        <div class="form-group">
          <%= f.label 'Lata com', class: 'control-label col-sm-2' %>
          <div class="col-sm-3">
            <%= f.text_field :un, class: 'form-control calculable' %>
          </div>

          <%= f.label :total, class: 'control-label col-sm-2' %>
          <div class="col-sm-5">
            <p class="form-control-static" id="tinta_total">R$ 0,00</p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :quantidade, class: 'control-label col-sm-2' %>
          <div class="col-sm-3">
            <%= f.number_field :qtde, value: '0', min: 0,class: 'form-control' %>
          </div>
        </div>

        <%= f.hidden_field :dolar, value: Settings.dolar.tintas %>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.modal-body -->

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit "Salvar", class: "btn btn-primary" %>
</div>
<!-- /.modal-footer -->

<% end %>
