<%= form_for [:estoque, @tinta], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Nova', 'Tinta' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= form_label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form_label :marca %>
      <%= f.text_field :marca, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= form_label 'Preço' %>
        <%= f.collection_select :moeda,
                                moedas,
                                :value,
                                :text,
                                { include_blank: false },
                                { class: 'form-control' } %>
      </div>

      <div class="form-group col-sm-4">
        <%= form_label %>
        <%= f.text_field :preco_kg, class: 'form-control money-field tin-calculable' %>
      </div>

      <div class="form-group col-sm-5">
        <%= form_label 'Lata com' %>
        <%= f.text_field :un, class: 'form-control tin-calculable' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= form_label :quantidade %>
        <%= f.number_field :qtde, value: '0', min: 0,class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form_label 'Preço Lata' %>
      <p class="form-control-static font-weight-bold" id="tinta_total">R$ 0,00</p>
    </div>

    <%= f.hidden_field :dolar, value: Settings.dolar.tintas %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
