<%= form_for @card, url: financeiro_cartao_path(@card), remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header('Cartão', pagseguro_bandeira(@card)) %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <p>Deseja marcar como recebido?</p>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-3">
        <%= form_label :data %>
        <%= content_tag :p, format_date(@card.data), class: 'form-control-static' %>
      </div>

      <div class="form-group col-md-5">
        <%= form_label :tipo %>
        <%= content_tag :p, Financeiro::PagSeguro.tipo_pagamentos[@card.tipo_pagamento], class: 'form-control-static' %>
      </div>

      <div class="form-group col-md-4">
        <%= form_label 'Valor Bruto' %>
        <%= content_tag :p, format_currency(@card.valor_bruto),
          class: 'form-control-static' %>
      </div>
    </div>

    <%= hidden_field_tag 'q', value: params[:q] %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f, 'Conferido' %>
  </div>
  <!-- /.modal-footer -->

<% end %>
