<!-- pagination and filter btn-group -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @cards, remote: true %>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <%= sort_link @search, :data, 'Data', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :tipo_pagamento, 'Tipo', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :parcelas, 'Parcelas', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-right">
            <%= sort_link @search, :valor_taxa, 'Taxa', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-right">
            <%= sort_link @search, :valor_bruto, 'Valor Bruto', {}, { remote: true, method: :get } %>
          </th>
          <th><br></th>
          <th><br></th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |c| %>
          <tr>
            <td> <%= format_date(c.data) %> </td>
            <td> <%= Financeiro::PagSeguro.tipo_pagamentos[c.tipo_pagamento] %> </td>
            <td class="text-center">
              <%= c.parcelas if c.credito? %>
            </td>
            <td class="text-right"> <%= format_currency(c.valor_taxa) %> </td>
            <td class="text-right"> <%= format_currency(c.valor_bruto) %> </td>
            <td class="text-right">
              <%= pagseguro_cc_tag c %>
            </td>
            <td class="text-right">
              <% if c.is_ok? %>
                <%= link_to 'Ok',
                            '#' ,
                            class: 'btn btn-success',
                            remote: true,
                            disabled: true %>
              <% else %>
                <%= link_check_to '',
                                  financeiro_cartao_path(c, z: @z),
                                  remote: true %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12 text-center">
    <%= paginate @cards, remote: true %>
  </div>
</div>
