<li class="<%= active_class(estoque_blanquetas_path) %>">
  <%= link_to "Blanquetas", estoque_blanquetas_path %>
</li>
<li class="<%= active_class(estoque_chapas_path) %>">
  <%= link_to "Chapas", estoque_chapas_path %>
</li>
<li class="<%= active_class(estoque_envelopes_path) %>">
  <%= link_to "Envelopes", estoque_envelopes_path %>
</li>
<li class="<%= active_class(estoque_quimicos_path) %>">
  <%= link_to "Químicos", estoque_quimicos_path %>
</li>
<li class="<%= active_class(estoque_tintas_path) %>">
  <%= link_to "Tintas", estoque_tintas_path %>
</li>
<li class="<%= active_class(estoque_variados_path) %>">
  <%= link_to "Variados", estoque_variados_path %>
</li>
