<!-- filter btn-group -->
<div class="row">
  <div class="col-lg-12 text-center">
    <div class="btn-group btn-group-justified" style="margin: 20px 0;">
      <%= link_to 'Todos',
                  estoque_papeis_path,
                  remote: true,
                  class: active_button(tipo: nil) %>

      <%= link_to 'Offset',
                  estoque_papeis_path(tipo: :offset),
                  remote: true,
                  class: active_button(tipo: :offset) %>

      <%= link_to 'Couche',
                  estoque_papeis_path(tipo: :couche),
                  remote: true,
                  class: active_button(tipo: :couche) %>

      <%= link_to 'Copiativo',
                  estoque_papeis_path(tipo: :copiativo),
                  remote: true,
                  class: active_button(tipo: :copiativo) %>

      <%= link_to 'Duplex',
                  estoque_papeis_path(tipo: :duplex),
                  remote: true,
                  class: active_button(tipo: :duplex) %>

      <%= link_to 'Triplex',
                  estoque_papeis_path(tipo: :triplex),
                  remote: true,
                  class: active_button(tipo: :triplex) %>

      <%= link_to 'Superbond',
                  estoque_papeis_path(tipo: :superbond),
                  remote: true,
                  class: active_button(tipo: :superbond) %>

      <%= link_to 'Capa AG',
                  estoque_papeis_path(tipo: :capa),
                  remote: true,
                  class: active_button(tipo: :capa) %>

      <%= link_to 'Cartolina',
                  estoque_papeis_path(tipo: :cartolina),
                  remote: true,
                  class: active_button(tipo: :cartolina) %>

      <%= link_to 'Reciclato',
                  estoque_papeis_path(tipo: :reciclato),
                  remote: true,
                  class: active_button(tipo: :reciclato) %>

      <%= link_to 'Kraft',
                  estoque_papeis_path(tipo: :kraft),
                  remote: true,
                  class: active_button(tipo: :kraft) %>
    </div>
    <!-- /.btn-group -->
  </div>
  <!-- /.col-lg-6 text-right -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            <%= sort_link @search, :papel_tipo_tipo, :tipo, {}, { remote: true, method: :get } %>
          </th>
          <th>
            <br>
          </th>
          <th class="text-center">
            <%= sort_link @search, :grs, {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :larg, [:larg, :comp], 'Formato', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :fls, 'Folhas', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :marca, :marca, {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :peso, 'Peso Pacote', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-right">
            <%= sort_link @search, :papel_tipo_preco_kg, 'Preço Kg', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-right">
            <%= sort_link @search, :preco_un, 'Preço Pacote', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :qtde, 'Qtde', {}, { remote: true, method: :get } %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr class="<%= qty_class(p) %>">
            <td> <%= p.papel_tipo.tipo %> </td>
            <td> <%= p.subtipo %> </td>
            <td class="text-center"> <%= p.grs %>g </td>
            <td class="text-center"> <%= p.size %> </td>
            <td class="text-center"> <%= p.fls %>fls </td>
            <td> <%= p.marca %> </td>
            <td class="text-center"> <%= format_decimal(p.peso) %>kg </td>
            <td class="text-right"> <%= format_currency(p.papel_tipo.preco_kg) %> </td>
            <td class="text-right"> <%= format_currency(p.preco_un) %> </td>
            <td class="text-center"> <%= p.qtde %> </td>

            <% if @logged_in %>
              <td class="text-right">
                <%= link_movimento_to '', movimento_estoque_papel_path(p), remote: true %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
