<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <%= sort_link @search, :papel_tipo_tipo, :tipo, {}, { remote: true, method: :get } %>
      </th>
      <th>
        <br>
      </th>
      <th class="text-center">
        <%= sort_link @search, :grs, {}, { remote: true, method: :get } %>
      </th>
      <th class="text-center">
        <%= sort_link @search, :larg, [:larg, :comp], 'Formato', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-center">
        <%= sort_link @search, :fls, 'Folhas', {}, { remote: true, method: :get } %>
      </th>
      <th>
        <%= sort_link @search, :marca, :marca, {}, { remote: true, method: :get } %>
      </th>
      <th class="text-center">
        <%= sort_link @search, :peso, 'Peso Pacote', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-right">
        <%= sort_link @search, :papel_tipo_preco_kg, 'Preço Kg', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-right">
        <%= sort_link @search, :preco_un, 'Preço Pacote', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-center">
        <%= sort_link @search, :qtde, 'Qtde', {}, { remote: true, method: :get } %>
      </th>
      <th><br></th>
      <% if @logged_in %>
        <th><br></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td> <%= p.papel_tipo.tipo %> </td>
        <td> <%= p.subtipo %> </td>
        <td class="text-center"> <%= p.grs %>g </td>
        <td class="text-center"> <%= p.size %> </td>
        <td class="text-center"> <%= p.fls %>fls </td>
        <td> <%= p.marca %> </td>
        <td class="text-center"> <%= format_decimal(p.peso) %>kg </td>
        <td class="text-right"> <%= format_currency(p.papel_tipo.preco_kg) %> </td>
        <td class="text-right"> <%= format_currency(p.preco_un) %> </td>
        <td class="text-center"> <%= p.qtde %> </td>
        <td class="text-right"> <%= qtde_badge(p) %> </td>

        <% if @logged_in %>
          <td class="text-right">
            <%= link_movimento_to '', movimento_estoque_papel_path(p), remote: true %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
