<%= form_for [:estoque, @papel], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Movimento', '' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-6">
        <%= form_label :tipo %>
        <p class="form-control-static">Entrada</p>

        <label class="switch switch-3d switch-success">
          <%# check_box_tag :mov, :entrada, class: 'switch-input' %>
          <input type="checkbox" name="mov" value="entrada" class="switch-input">
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </div>

      <div class="form-group col-md-6">
        <%= form_label %>
        <p class="form-control-static">Saída</p>

        <label class="switch switch-3d switch-success">
          <%# check_box_tag :mov, :entrada, class: 'switch-input' %>
          <input type="checkbox" name="mov" value="saida" class="switch-input">
          <span class="switch-label"></span>
          <span class="switch-handle"></span>
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= form_label :papel %>
      <p class="form-control-static"><%= @papel %></p>
    </div>

    <div class="form-group">
      <%= form_label :quantidade %>
      <%= f.number_field :amount, value: 0, min: 0, class: 'form-control' %>
    </div>

    <%= f.hidden_field :qtde, value: @papel.qtde %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
