<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <%= sort_link @search, :nome, 'Nome', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-center">
        <%= sort_link @search, :un, 'Unidade', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-right">
        <%= sort_link @search, :preco_un, 'Preço', {}, { remote: true, method: :get } %>
      </th>
      <th class="text-center">
        <%= sort_link @search, :qtde, 'Qtde', {}, { remote: true, method: :get } %>
      </th>
      <th><br></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td> <%= p.nome %> </td>
        <td class="text-center"> <%= p.un %> </td>
        <td class="text-right"> <%= format_currency(p.preco_un) %> </td>
        <td class="text-center"> <%= p.qtde %> </td>

        <% if @logged_in %>
          <td class="text-right">
            <%= link_movimento_to '', movimento_estoque_cortado_papel_path(p), remote: true %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
