<% content_for :sidebar do %>
  <%= render 'estoque/sidebar' %>
<% end %>

<% provide(:url, estoque_cortado_papeis_path) %>
<% provide(:search_field, :nome_cont) %>
<% provide(:placeholder, 'Nome') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Estoque<strong>Papéis Cortados</strong>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <%= render 'shared/search_form' %>
          </div>
          <div class="col-sm-8 text-right">
            <%= link_to 'Novo Papel',
                        new_estoque_cortado_papel_path,
                        remote: true,
                        class: 'btn btn-success' %>
          </div>
        </div>

        <div id="ppc-tableview">
          <%= render 'table' %>
        </div>
      </div>
    </div>
  </div>
</div>
