<p id="notice"><%= notice %></p>

<table class="table">
  <tbody>
    <tr>
      <td>CNPJ</td>
      <td><%= format_cnpj(@cliente.id) %></td>
    </tr>
    <tr>
      <td>Endereço</td>
      <td><%= @cliente.endereco %></td>
    </tr>
    <tr>
      <td>Cidade</td>
      <td><%= @cliente.cidade %> - <%= @cliente.uf %></td>
    </tr>
    <tr>
      <td>CEP</td>
      <td><%= @cliente.cep %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Editar', edit_cadastro_cliente_path(@cliente) %>
<%= link_to 'Remover', cadastro_clientes_path(@cliente), method: :delete, data: { confirm: 'Certeza?' } %>
