<div class="card">
  <div class="card-block">

    <div class="row">
      <div class="col-md-12">
        <h3 class="card-title clearfix mb-4"><%= @cliente.nome %></h3>
      </div>
    </div>

    <hr class="m-0">

    <div class="row">
      <div class="col-md-12 pt-4">
        <%= form_for [:cadastro, @cliente] do |f| %>
          <div class="form-group">
            <%= form_label 'Razão Social' %>
            <%= content_tag :p, @cliente.razao_social, class: 'form-control-static' %>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <%= form_label 'CNPJ' %>
              <%= content_tag :p, format_cnpj(@cliente.id), class: 'form-control-static' %>
            </div>

            <div class="col-md-6">
              <%= form_label 'Inscrição Estadual' %>
              <%= content_tag :p, format_ie(@cliente.ie), class: 'form-control-static' %>
            </div>
          </div>

          <div class="form-group">
            <%= form_label 'Endereço' %>
            <%= content_tag :p, @cliente.endereco, class: 'form-control-static' %>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <%= form_label :cidade %>
              <%= content_tag :p, @cliente.cidade, class: 'form-control-static' %>
            </div>
            <div class="col-md-2">
              <%= form_label 'UF' %>
              <%= content_tag :p, @cliente.uf, class: 'form-control-static' %>
            </div>
            <div class="col-md-4">
              <%= form_label 'CEP' %>
              <%= content_tag :p, format_cep(@cliente.cep), class: 'form-control-static' %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <%= form_label :nome %>
              <%= content_tag :p, @cliente.nome, class: 'form-control-static' %>
            </div>
            <div class="col-md-6">
              <%= form_label :contato %>
              <%= content_tag :p, @cliente.contato, class: 'form-control-static' %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <%= form_label :telefone %>
              <%= content_tag :p, @cliente.telefone, class: 'form-control-static' %>
            </div>
            <div class="col-md-6">
              <%= form_label :celular %>
              <%= content_tag :p, @cliente.celular, class: 'form-control-static' %>
            </div>
          </div>

          <div class="form-group">
            <%= form_label :email %>
            <%= content_tag :p, @cliente.email, class: 'form-control-static' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-12 text-right">
        <div class="btn-group">
          <%= link_to 'Editar',
                      edit_cadastro_cliente_path(@cliente),
                      method: :get,
                      remote: true,
                      class: 'btn btn-success' %>
          <%= link_to 'Remover',
                      cadastro_cliente_path(@cliente),
                      method: :delete,
                      data: { confirm: 'Deseja remover o cliente?' },
                      class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>
