<%= form_for [:cadastro, @cliente], remote: true do |f| %>

<div class="modal-header">
  <h3>Olar</h3>
</div>
<!-- /.modal-header -->

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'shared/error_messages', object: f.object %>

        <!-- razao social -->
        <div class="form-group">
          <%= f.label 'Razão Social' %>
          <%= f.text_field :razao_social, class: 'form-control title-case' %>
        </div>

        <!-- cnpj / inscricao estadual -->
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.label 'CNPJ' %>
            <%= f.text_field :id, class: 'form-control cnpj-field' %>
          </div>

          <div class="col-md-6">
            <%= f.label 'Inscrição Estadual' %>
            <%= f.text_field :ie, class: 'form-control ie-field' %>
          </div>
        </div>

        <!-- endereco -->
        <div class="form-group">
          <%= f.label 'Endereço' %>
          <%= f.text_field :endereco, class: 'form-control title-case' %>
        </div>

        <!-- cidade / uf / cep -->
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.label :cidade %>
            <%= f.text_field :cidade, class: 'form-control title-case' %>
          </div>
          <div class="col-md-2">
            <%= f.label 'UF' %>
            <%= f.text_field :uf, class: 'form-control uf-field' %>
          </div>
          <div class="col-md-4">
            <%= f.label 'CEP' %>
            <%= f.text_field :cep, class: 'form-control cep-field' %>
          </div>
        </div>

        <!-- nome / contato -->
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.label :nome %>
            <%= f.text_field :nome, class: 'form-control title-case' %>
          </div>
          <div class="col-md-6">
            <%= f.label :contato %>
            <%= f.text_field :contato, class: 'form-control title-case' %>
          </div>
        </div>

        <!-- telefone / celular -->
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.label :telefone %>
            <%= f.text_field :telefone, class: 'form-control phone-field' %>
          </div>
          <div class="col-md-6">
            <%= f.label :celular %>
            <%= f.text_field :celular, class: 'form-control phone-field' %>
          </div>
        </div>

        <!-- email -->
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.modal-body -->

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit "Salvar", class: "btn btn-primary" %>
</div>
<!-- /.modal-footer -->

<% end %>


