<%= search_form_for @search, remote: true, url: cadastro_clientes_path , method: :get do |f| %>

  <div class="form-inline pull-right">
    <%= f.search_field :nome_cont, class: 'form-control'%>
    <div class="btn-group">
      <%= f.submit 'Pesquisar', name: nil, class: 'btn btn-primary' %>
      <%= link_to '', request.path, class: 'fa fa-times btn btn-danger' %>
    </div>
  </div>

  <table class="table table-hover table-striped" id="clickable-row">
    <thead>
      <tr>
        <th>
          <%= sort_link @search, :id, 'CNPJ', {}, { remote: true, method: :get } %>
        </th>
        <th>
          <%= sort_link @search, :nome, 'Nome', {}, { remote: true, method: :get } %>
        </th>
        <th>
          <%= sort_link @search, :endereco, 'Endereço', {}, { remote: true, method: :get } %>
        </th>
        <th>
          <%= sort_link @search, :cidade, 'Cidade', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-center">
          <%= sort_link @search, :uf, 'UF', {}, { remote: true, method: :get } %>
        </th>
        <th>
          <%= sort_link @search, :cep, 'CEP', {}, { remote: true, method: :get } %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @clientes.each do |c| %>
        <tr data-href="<%= cadastro_cliente_path(c) %>">
          <td> <%= format_cnpj(c.id) %> </td>
          <td> <%= c.nome %> </td>
          <td> <%= c.endereco %> </td>
          <td> <%= c.cidade %> </td>
          <td class="text-center"> <%= c.uf %> </td>
          <td> <%= format_cep(c.cep) %> </td>
          <!-- <td> <%= link_to 'Detalhes', cadastro_cliente_path(c) %> </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @clientes %>
<% end %>

<%# render "layouts/modal" %>
