<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @clientes, remote: true %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            <%= sort_link @search, :nome, 'Nome', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :endereco, 'Endereço', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :cidade, 'Cidade', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :uf, 'UF', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :cep, 'CEP', {}, { remote: true, method: :get } %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @clientes.each do |c| %>
          <tr>
            <td> <%= c.nome %> </td>
            <td> <%= c.endereco %> </td>
            <td> <%= c.cidade %> </td>
            <td class="text-center"> <%= c.uf %> </td>
            <td> <%= format_cep(c.cep) %> </td>
            <td> <%= link_to '',
                             cadastro_cliente_path(c),
                             class: 'fa fa-lg fa-plus-circle no-underline' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12 text-center">
    <%= paginate @clientes, remote: true %>
  </div>
</div>
