<% content_for :sidebar do %>
  <%= render 'cadastro/sidebar' %>
<% end %>

<% provide(:url, cadastro_cliente_path) %>

<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-block">

        <div class="row">
          <div class="col-md-12">
            <h3 class="card-title clearfix mb-4"><%= @cliente.nome %></h3>
          </div>
        </div>

        <hr class="m-0">

        <div class="row">
          <div class="col-md-12 pt-4">
            <%= form_for [:cadastro, @cliente] do |f| %>
              <div class="form-group">
                <%= form_label 'Razão Social' %>
                <%= content_tag :p, @cliente.razao_social, class: 'form-control-static' %>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <%= form_label 'CNPJ' %>
                  <%= content_tag :p, format_cnpj(@cliente.id), class: 'form-control-static' %>
                </div>

                <div class="col-md-6">
                  <%= form_label 'Inscrição Estadual' %>
                  <%= content_tag :p, format_ie(@cliente.ie), class: 'form-control-static' %>
                </div>
              </div>

              <div class="form-group">
                <%= form_label 'Endereço' %>
                <%= content_tag :p, @cliente.endereco, class: 'form-control-static' %>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <%= form_label :cidade %>
                  <%= content_tag :p, @cliente.cidade, class: 'form-control-static' %>
                </div>
                <div class="col-md-2">
                  <%= form_label 'UF' %>
                  <%= content_tag :p, @cliente.uf, class: 'form-control-static' %>
                </div>
                <div class="col-md-4">
                  <%= form_label 'CEP' %>
                  <%= content_tag :p, format_cep(@cliente.cep), class: 'form-control-static' %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <%= form_label :nome %>
                  <%= content_tag :p, @cliente.nome, class: 'form-control-static' %>
                </div>
                <div class="col-md-6">
                  <%= form_label :contato %>
                  <%= content_tag :p, @cliente.contato, class: 'form-control-static' %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <%= form_label :telefone %>
                  <%= content_tag :p, @cliente.telefone, class: 'form-control-static' %>
                </div>
                <div class="col-md-6">
                  <%= form_label :celular %>
                  <%= content_tag :p, @cliente.celular, class: 'form-control-static' %>
                </div>
              </div>

              <div class="form-group">
                <%= form_label :email %>
                <%= content_tag :p, @cliente.email, class: 'form-control-static' %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
      <!-- /.card-block -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col-md-7 -->

  <div class="col-md-5">
    <div class="card card-inverse card-success">
      <div class="card-header">
        A Receber
      </div>

      <div class="card-block">
        <%= receber_chart %>
      </div>
    </div>
  </div>
</div>



<!-- header -->
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <ul class="nav nav-pills pull-right">
        <li class="<%= active_tab? 'dados' %>">
          <%= link_to 'Dados', '#dados', 'data-toggle' => 'tab' %>
        </li>
          <% if @bills.empty? %>
            <li class="disabled">
            <%= link_to 'A Receber', '#receber' %>
          <% else %>
            <li class="<%= active_tab? 'receber' %>">
            <%= link_to 'A Receber', '#receber', 'data-toggle' => 'tab' %>
          <% end %>
        </li>
      </ul>
      <h1><%= @cliente.nome %></h1>
    </div>
  </div>
</div>

<!-- content -->
<div class="tab-content">
  <div class="<%= active_tabpane? 'dados' %>" id="dados">
    <%= render 'dados' %>
  </div>
  <div class="<%= active_tabpane? 'receber' %>" id="receber">
    <div id="receber-tableview">
      <%= render 'financeiro/recebimentos/table' %>
    </div>
  </div>
</div>
