<% content_for :navbar do %>
  <%= render 'cadastro/navbar' %>
<% end %>

<% provide(:url, cadastro_cliente_path) %>

<div class="container-fluid">

  <!-- header -->
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <ul class="nav nav-pills pull-right">
          <li class="<%= active_tab? 'tab1' %>">
            <%= link_to 'Dados', '#tab1', 'data-toggle' => 'tab' %>
          </li>
          <li class="<%= active_tab? 'tab2' %>">
            <%= link_to 'A Receber', '#tab2', 'data-toggle' => 'tab' %>
          </li>
        </ul>
        <h1><%= @cliente.nome %></h1>
      </div>
    </div>
  </div>

  <!-- content -->
  <div class="tab-content">
    <div class="<%= active_tabpane? 'tab1' %>" id="tab1">
      <%= render 'dados' %>
    </div>
    <div class="<%= active_tabpane? 'tab2' %>" id="tab2">
      <div id="receber-tableview">
        <%= render 'receber' %>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<%= render 'shared/modal' %>
