<% content_for :sidebar do %>
  <%= render 'cadastro/sidebar' %>
<% end %>

<% provide(:url, cadastro_cliente_path) %>

<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <%= render 'dados' %>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.col-7 -->

  <!-- card recebimentos -->
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-inverse card-success">
          <div class="card-header">
            A Receber
          </div>
          <div class="card-block">
            <%= receber_chart %>
          </div>
        </div>
      </div>
    </div>

    <!-- card cheques -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card-inverse card-info">
          <div class="card-header">
            Cheques
          </div>
          <div class="card-block">
            <%= cheques_chart %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /. col-md-5 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Financeiro<strong>A Receber</strong>
      </div>

      <div class="card-block">
        <div id="receber-tableview">
          <%= render 'table_recebimentos' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Financeiro<strong>Cheques</strong>
      </div>

      <div class="card-block">
        <div id="cheques-tableview">
          <%= render 'table_cheques' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
