<%= form_for [:estoque, @envelope], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Novo', 'Envelope' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="form-group col-sm-3 left-content">
        <%= form_label :tamanho %>
        <%= f.text_field :larg, class: 'form-control number-field' %>
      </div>

      <div class="form-group col-sm-1 center-content">
        <%= form_label %>
        <p>x</p>
      </div>

      <div class="form-group col-sm-3 right-content">
        <%= form_label %>
        <%= f.text_field :comp, class: 'form-control number-field' %>
      </div>

      <div class="form-group col-sm-5">
        <%= form_label :gramatura %>
        <%= f.text_field :grs, class: 'form-control number-field' %>
      </div>
    </div>

    <div class="form-group">
      <%= form_label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form_label :tipo %>
      <%= f.text_field :tipo, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= form_label 'Preço' %>
        <%= f.collection_select :moeda,
                                moedas,
                                :value,
                                :text,
                                { include_blank: false },
                                { class: 'form-control' } %>
      </div>

      <div class="form-group col-sm-4">
        <%= form_label %>
        <%= f.value_field :preco_milheiro, class: 'form-control money-field env-calculable' %>
      </div>

      <div class="form-group col-sm-5">
        <%= form_label 'Caixa c/' %>
        <%= f.text_field :un, class: 'form-control number-field env-calculable' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= form_label :quantidade %>
        <%= f.number_field :qtde, value: (f.object.qtde || '0'), min: 0,class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= form_label 'Preço Caixa' %>
      <p class="form-control-static font-weight-bold" id="envelope_total">
        <%= format_currency f.object.preco_un %>
      </p>
    </div>

    <%= f.hidden_field :dolar, value: Settings.dolar.envelopes %>

    <%= hidden_field_tag 'z[s]', params[:z][:s] %>
    <%= hidden_field_tag 'z[q]', params[:z][:q] %>
    <%= hidden_field_tag 'z[page]', params[:z][:page] %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
