<h1>Envelopes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tamanho</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Grs</th>
      <th>Caixa com</th>
      <th>Preço da caixa</th>
      <th>Qtde</th>
    </tr>
  </thead>

  <tbody>
    <% @envelopes.each do |e| %>
      <tr>
        <td> <%= e.size %> </td>
        <td> <%= e.nome %> </td>
        <td> <%= e.tipo %> </td>
        <td> <%= e.grs %>g </td>
        <td> <%= e.un %> </td>
        <td> <%= e.preco_un %> </td>
        <td> <%= e.qtde %> </td>
      </tr>
    <% end %>
  </tbody>

</table>
