<% provide(:url, estoque_envelopes_path(tipo: params[:tipo])) %>
<% provide(:search_field, @search_field) %>
<% provide(:placeholder, 'Nome ou tamanho') %>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-align-justify' %>
        Estoque<strong>Envelopes</strong>
      </div>

      <div class="card-block">
        <div class="row">
          <div class="col-sm-4">
            <%= render 'shared/search_form' %>
          </div>

          <% if logged_in? %>
            <div class="col-sm-8 text-right">
              <%= link_to 'Novo Envelope',
                          new_estoque_envelope_path,
                          remote: true,
                          class: 'btn btn-success' %>

              <%= link_to 'Alterar Preços',
                          prices_estoque_envelopes_path,
                          remote: true,
                          class: 'btn btn-info' %>
            </div>
          <% end %>
        </div>

        <div id="env-tableview">
          <%= render 'table' %>
        </div>
      </div>
    </div>
  </div>
</div>

