<%= form_for [:financeiro, @recebimento], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Boleto', format_bill_number(@recebimento.id) %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">

    <!-- cliente -->
    <div class="form-group">
      <%= form_label :cliente %>
      <%= content_tag :p, @recebimento.cliente.razao_social, class: 'form-control-static' %>
    </div>

    <!-- numero / venc / valor -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= form_label 'Número' %>
        <%= content_tag :p, format_bill_number(@recebimento.id), class: 'form-control-static' %>
      </div>

      <div class="form-group col-md-4">
        <%= form_label :vencimento %>
        <%= content_tag :p, format_date(@recebimento.vencimento), class: 'form-control-static' %>
      </div>

      <div class="form-group col-md-4">
        <%= form_label :valor %>
        <%= content_tag :p, format_currency(@recebimento.valor), class: 'form-control-static' %>
      </div>
    </div>

    <% if admin? %>
      <div class="form-group">
        <%= form_label 'Situação' %>
        <%= f.select :status,
                     options_for_select(Recebimento.status.map{|s| [ s[1], s[0] ]}, @recebimento.status),
                     {},
                     { class: 'form-control' } %>
      </div>
    <% end %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
