<div class="modal-header">
  <h3>Boleto nº <%= format_bill_number(@recebimento.id) %></h3>
</div>
<!-- /.modal-header -->

<div class="modal-body">
  <div class="container-fluid">
  <%= render 'shared/spinner' %>
    <div class="row">
      <div class="col-lg-12">

        <div class="panel panel-<%= bill_status(@recebimento) %>">
          <div class="panel-heading">
            <% if @recebimento.vencido? %>
              Vencido
            <% else %>
              <%= @recebimento.status %>
            <% end %>
          </div>
          <!-- /.panel-heading -->

          <div class="panel-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><%= label_tag 'Número' %></td>
                  <td><%= format_bill_number(@recebimento.id) %></td>
                </tr>
                <tr>
                  <td><%= label_tag :cliente %></td>
                  <td><%= @recebimento.cliente.nome %></td>
                </tr>
                <tr>
                  <td><%= label_tag :vencimento %></td>
                  <td><%= format_date(@recebimento.vencimento) %></td>
                </tr>
                <tr>
                  <td><%= label_tag :valor %></td>
                  <td><%= format_currency(@recebimento.valor) %></td>
                </tr>
                <tr>
                  <td><%= label_tag 'Situação' %></td>
                  <td><%= @recebimento.status %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.modal-body -->

<div class="modal-footer">
  <div class="btn-group dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Atualizar
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to 'Em aberto',
                      financeiro_recebimento_path(@recebimento, status: 'Em aberto'),
                      method: :patch,
                      remote: true %></li>

      <li><%= link_to 'Pago',
                      financeiro_recebimento_path(@recebimento, status: 'Pago'),
                      method: :patch,
                      remote: true %></li>

      <li><%= link_to 'Cartório',
                      financeiro_recebimento_path(@recebimento, status: 'Cartório'),
                      method: :patch,
                      remote: true %></li>

      <li><%= link_to 'Protestado',
                      financeiro_recebimento_path(@recebimento, status: 'Protestado'),
                      method: :patch,
                      remote: true %></li>
    </ul>
  </div>
  <!-- /.btn-group dropdown -->

  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

</div>
<!-- /.modal-footer -->
