<%= form_for @recebimento, url: '#', multipart: true, authenticity_token: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Importar', 'Arquivo' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <% if @error %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <p><%= @error %></p>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= form_label :arquivo %>
      <%= f.file_field :import_file %>
    </div>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f, 'Importar' %>
  </div>
  <!-- /.modal-footer -->

<% end %>
