<%= form_for [:estoque, @blanqueta], remote: true do |f| %>

  <div class="modal-header">
    <h4 class="modal-title">Nova Blanqueta</h4>
    <%= button_tag type: :button, 'data-dismiss': :modal, 'aria-label': :close, class: 'close' do %>
      <span aria-hidden="true">×</span>
    <% end %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <div class="card">
      <div class="card-header">
        <%= fa_tag 'fa fa-pencil-square-o' %>
      </div>
      <div class="card-block">
        <%= render 'shared/error_messages', object: f.object %>

        <div class="row">
          <div class="form-group col-sm-3">
            <%= f.label :tamanho %>
            <%= f.text_field :larg, class: 'form-control blq-calculable' %>
          </div>

          <div class="form-group col-sm-3">
            <label><br></label>
            <%= f.text_field :comp, class: 'form-control blq-calculable' %>
          </div>

          <div class="form-group col-sm-6">
            <%= f.label :lonas %>
            <%= f.select :blanqueta_lona_id,
                          BlanquetaLona.all.map { |b|
                            [ "#{b.lonas} lonas", b.id, { price: b.preco } ]
                          },
                          { include_blank: false },
                          { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :nome %>
          <%= f.text_field :nome, class: 'form-control' %>
        </div>

        <div class="row">
          <div class="form-group col-sm-3">
            <%= f.label :quantidade %>
            <%= f.number_field :qtde, value: '0', min: 0,class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Preço' %>
          <p class="form-control-static" id="blanqueta_total">R$ 0,00</p>
        </div>

        <%= f.hidden_field :dolar, value: Settings.dolar.blanquetas %>
        <%= f.hidden_field :moeda, value: 'USD' %>
      </div>
    </div>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= button_tag 'Cancelar', type: :button, 'data-dismiss': :modal, class: 'btn btn-secondary' %>
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  </div>
  <!-- /.modal-footer -->

<% end %>
