<div class="card-columns">
  <% @recados.each do |rec| %>
    <div class="card <%= recado_card_class rec %>">
      <div class="card-header">
        <strong class="<%= recado_card_text rec %>">
          <%= rec.titulo %>
        </strong>

        <% unless rec.done? %>
          <div class="card-actions">
            <%= link_to edit_painel_recado_path(rec), method: :get, remote: true do %>
              <%= fa_tag 'icon-note' %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="card-block">
        <div class="<%= recado_card_text rec %>">
          <%= simple_format rec.texto %>
        </div>
        <small class="text-muted font-weight-bold pull-right">
          <%= rec.remetente.nome %> em <%= format_datetime(rec.updated_at) %>
        </small>
      </div>
    </div>
  <% end %>
</div>
