<%= form_for [:painel, @recado], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Novo', 'Recado' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <%= render 'shared/error_messages', object: f.object %>

    <!-- para -->
    <div class="form-group">
      <%= form_label :para %>
      <%= f.select :destinatario_id,
                    Usuario.all.map { |c| [ c.nome, c.id ] },
                    { include_blank: true },
                    { class: 'form-control' } %>
    </div>

    <!-- título -->
    <div class="form-group">
      <%= form_label 'Título' %>
      <%= f.text_field :titulo, class: 'form-control' %>
    </div>

    <!-- texto -->
    <div class="form-group">
      <%= f.cktext_area :texto,
                        rows: 10,
                        class: 'form-control not-resizable',
                        ckeditor: { toolbar: 'default' } %>
    </div>

    <!-- done -->
    <div class="form-group text-right">
      Marcar como concluído &nbsp;
      <%= switch_success_tag name: 'recado[done]',
                             value: 'true',
                             id: 'recado_done' %>
    </div>

  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
