<%= search_form_for @search, remote: true, url: estoque_quimicos_path , method: :get do |f| %>

  <!-- Search form -->
  <div class="form-inline pull-right">
    <%= f.search_field :nome_or_marca_cont, class: 'form-control'%>
    <div class="btn-group">
      <%= f.submit 'Pesquisar', name: nil, class: 'btn btn-primary' %>
      <%= link_to '', request.path, class: 'fa fa-times btn btn-danger' %>
    </div>
  </div>
  <!-- /.search form -->

  <table class="table table-hover table-striped">

    <thead>
      <tr>
        <th>
          <%= sort_link @search, :nome, 'Nome', {}, { remote: true, method: :get } %>
        </th>
        <th>
          <%= sort_link @search, :marca, 'Marca', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-center">
          <%= sort_link @search, :un, 'Unidade', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-right">
          <%= sort_link @search, :preco_un, 'Preço', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-center">
          <%= sort_link @search, :qtde, 'Qtde', {}, { remote: true, method: :get } %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |q| %>
        <tr>
          <td> <%= q.nome %> </td>
          <td> <%= q.marca %> </td>
          <td class="text-center"> <%= q.un %> </td>
          <td class="text-right"> <%= format_currency(q.preco_un) %> </td>
          <td class="text-center"> <%= q.qtde %> </td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>
