<h1>Químicos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Marca</th>
      <th>Unidade</th>
      <th>Preço</th>
      <th>Qtde</th>
    </tr>
  </thead>

  <tbody>
    <% @quimicos.each do |q| %>
      <tr>
        <td> <%= q.nome %> </td>
        <td> <%= q.marca %> </td>
        <td> <%= q.un %> </td>
        <td> <%= q.preco_un %> </td>
        <td> <%= q.qtde %> </td>
      </tr>
    <% end %>
  </tbody>

</table>
