<div class="modal-header">
  <h3>Olar</h3>
</div>
<!-- /.modal-header -->

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <p>Existem <%= @result.size %> cheques com o número <%= format_numero(@result.first.numero) %>.</p>
        <p>Por favor, escolha um:</p>
      </div>
    </div>

    <div class="row row-margin">
      <div class="col-lg-12">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Número</th>
              <th>Emitente</th>
              <th class="text-right">Valor</th>
            </tr>
          </thead>
          <tbody>
            <% @result.each do |c| %>
              <tr>
                <%= form_for c, url: ch_financeiro_depositos_path, method: :post,
                             remote: true, html: { class: 'form-cheque' } do |f| %>
                  <%= f.hidden_field :id %>
                  <%= f.hidden_field :banco %>
                  <%= f.hidden_field :numero %>
                  <%= f.hidden_field :emitente %>
                  <%= f.hidden_field :valor %>

                  <td><%= format_banco(c.banco) %></td>
                  <td><%= format_numero(c.numero) %></td>
                  <td><%= c.emitente %></td>
                  <td class="text-right"><%= format_currency(c.valor) %></td>
                  <td>
                    <%= f.button class: 'btn-link' do %>
                      <i class="fa fa-lg fa-check"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.modal-body -->

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
</div>
<!-- /.modal-footer -->
