<div class="modal-header">
  <%= modal_form_header 'Cheque', format_numero(@result.first.numero) %>
</div>
<!-- /.modal-header -->

<div class="modal-body">
  <div>Existem <%= @result.size %> cheques com o número <%= format_numero(@result.first.numero) %>.</div>
  <div>Por favor, escolha um:</div>
  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Banco</th>
        <th>Emitente</th>
        <th class="text-right">Valor</th>
        <th><br></th>
      </tr>
    </thead>
    <tbody>
      <% @result.each do |c| %>
        <tr>
          <td><%= format_banco(c.banco) %></td>
          <td><%= c.emitente %></td>
          <td class="text-right"><%= format_currency(c.valor) %></td>
          <td class="text-right">
            <%= form_for c, url: ch_financeiro_depositos_path, method: :post, remote: true, html: { class: 'form-cheque' } do |f| %>
              <%= f.hidden_field :id %>
              <%= f.hidden_field :banco %>
              <%= f.hidden_field :numero %>
              <%= f.hidden_field :emitente %>
              <%= f.hidden_field :valor %>
              <%= f.button class: 'btn btn-success' do %>
                <i class="fa fa-check"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
<!-- /.modal-body -->

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
</div>
<!-- /.modal-footer -->
