<% content_for :navbar do %>
  <%= render 'financeiro/navbar' %>
<% end %>

<div class="container-fluid">

  <!-- header -->
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Novo Depósito</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Dados Bancários</div>
        <div class="panel-body">
          <%= form_for [:financeiro, @deposito] do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <div class="form-group">
              <%= f.label :titular %>
              <%= f.text_field :titular, class: 'form-control title-case' %>
            </div>

            <div class="form-group row">
              <div class="col-md-3">
                <%= f.label :banco %>
                <%= f.text_field :banco, class: 'form-control number-field' %>
              </div>

              <div class="col-md-3">
                <%= f.label 'Agência' %>
                <%= f.text_field :agencia, class: 'form-control number-field' %>
              </div>

              <div class="col-md-6">
                <%= f.label :conta %>
                <%= f.text_field :conta, class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :total %>
              <%= content_tag :p, format_currency(get_total),
                              class: 'form-control-static', id: 'deposito_total_static' %>
              <%= f.hidden_field :total, value: get_total %>
            </div>

            <div class="form-group btn-group pull-right">
              <%= link_to 'Voltar', financeiro_depositos_path, class: 'btn btn-default' %>
              <%= f.submit 'Salvar', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <!-- panel-body -->
      </div>
      <!-- panel panel-primary -->
    </div>
    <!-- /.col-md-5 -->

    <div class="col-md-7">
      <div class="panel panel-primary">
        <div class="panel-heading">Cheques</div>
        <div class="panel-body">
          <div class="form-group">
            <%= label_tag :procurar %>

            <div class="form-inline">
              <%= form_tag ch_financeiro_depositos_path, method: :get, remote: true,
                           id: 'search-form' do %>
                <div class="input-group">
                  <%= text_field_tag :ch_search,
                                     params[:ch_search],
                                     placeholder: 'Número do cheque',
                                     class: 'form-control number-field' %>

                  <div class="input-group-btn">
                    <%= submit_tag 'Adicionar' , class: 'btn btn-default' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <!-- cheques table view -->
          <div class="row row-margin">
            <div class="col-lg-12">
              <div id="cheques-tableview"><%= render 'cheques' %></div>
            </div>
          </div>

        </div>
        <!-- panel-body -->
      </div>
      <!-- panel panel-primary -->
    </div>
    <!-- /.col-md -->
  </div>
  <!-- /.row -->

</div>
