<%= form_for [:financeiro, @cheque], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Cadastrar', 'Cheque' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="form-group col-sm-2">
        <%= f.label :banco %>
        <%= f.text_field :banco, class: 'form-control number-field' %>
      </div>

      <div class="form-group col-sm-3">
        <%= f.label 'Número' %>
        <%= f.text_field :numero, class: 'form-control number-field' %>
      </div>

      <div class="form-group col-sm-3">
        <%= f.label 'Bom p/' %>
        <%= f.text_field :data_deposito, class: 'form-control date-field' %>
      </div>

      <div class="form-group col-sm-4">
        <%= f.label :valor %>
        <%= f.text_field :valor, class: 'form-control money-field' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :emitente %>
      <%= f.text_field :emitente, class: 'form-control title-case' %>
    </div>

    <div class="form-group">
      <%= f.label :cliente %>
      <%= f.select :cliente_id,
                      Cliente.all.map { |c|
                        [ c.nome, c.id ]
                      },
                      { include_blank: true },
                      { class: 'form-control' } %>
    </div>

    <%= f.hidden_field :status, value: :aberto %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
