<!-- pagination and filter btn-group -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @cheques, remote: true %>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            <%= sort_link @search, :banco, 'Banco', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :numero, 'Número', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :emitente, 'Emitente', {}, { remote: true, method: :get } %>
          </th>
          <th>
            <%= sort_link @search, :nome, 'Cliente', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :data_deposito, 'Bom Para', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-right">
            <%= sort_link @search, :valor, 'Valor', {}, { remote: true, method: :get } %>
          </th>
          <th class="text-center">
            <%= sort_link @search, :status, 'Situação', {}, { remote: true, method: :get } %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @cheques.each do |c| %>
          <tr>
            <td> <%= format_banco(c.banco) %> </td>
            <td> <%= format_numero(c.numero) %> </td>
            <td> <%= c.emitente %> </td>
            <td> <%= c.cliente %> </td>
            <td class="text-center"> <%= format_date(c.data_deposito) %> </td>
            <td class="text-right"> <%= format_currency(c.valor) %> </td>
            <td class="text-center">
              <span class="<%= cheque_label c %>"><%= Cheque.status[c.status] %></span>
            </td>
            <td class="text-right">
              <%= link_details_to '', financeiro_cheque_path(c), remote: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12 text-center">
    <%= paginate @cheques, remote: true %>
  </div>
</div>
