<%= form_for [:estoque, @variado], remote: true do |f| %>

  <div class="modal-header">
    <%= modal_form_header 'Novo', 'Produto' %>
  </div>
  <!-- /.modal-header -->

  <div class="modal-body">
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= form_label :nome %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= form_label 'Preço' %>
        <%= f.collection_select :moeda,
                                moedas,
                                :value,
                                :text,
                                { include_blank: false },
                                { class: 'form-control' } %>
      </div>

      <div class="form-group col-sm-4">
        <%= form_label %>
        <%= f.value_field :preco, class: 'form-control money-field' %>
      </div>

      <div class="form-group col-sm-5">
        <%= form_label :unidade %>
        <%= f.text_field :un, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-3">
        <%= form_label :quantidade %>
        <%= f.number_field :qtde, value: (f.object.qtde || '0'), min: 0,class: 'form-control' %>
      </div>
    </div>

    <% if params[:z] %>
      <%= hidden_field_tag 'z[q]', params[:z][:q] %>
      <%= hidden_field_tag 'z[page]', params[:z][:page] %>
    <% end %>
  </div>
  <!-- /.modal-body -->

  <div class="modal-footer">
    <%= modal_form_save f %>
  </div>
  <!-- /.modal-footer -->

<% end %>
