<%= search_form_for @search, remote: true, url: estoque_variados_path , method: :get do |f| %>

  <div class="form-inline pull-right">
    <%= f.search_field :nome_cont, class: 'form-control'%>
    <div class="btn-group">
      <%= f.submit 'Pesquisar', name: nil, class: 'btn btn-primary' %>
      <%= link_to '', request.path, class: 'fa fa-times btn btn-danger' %>
    </div>
  </div>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          <%= sort_link @search, :nome, 'Nome', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-center">
          <%= sort_link @search, :un, 'Unidade', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-right">
          <%= sort_link @search, :preco_un, 'Preço', {}, { remote: true, method: :get } %>
        </th>
        <th class="text-center">
          <%= sort_link @search, :qtde, 'Qtde', {}, { remote: true, method: :get } %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |v| %>
        <tr>
          <td> <%= v.nome %> </td>
          <td class="text-center"> <%= v.un %> </td>
          <td class="text-right"> <%= format_currency(v.preco_un) %> </td>
          <td class="text-center"> <%= v.qtde %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
