<li class="<%= active_class(financeiro_recebimentos_path) %>">
  <%= link_to 'A Receber', financeiro_recebimentos_path %>
</li>
<li>
  <%= link_to 'A Pagar', '#' %>
</li>
<li class="<%= active_class(financeiro_cheques_path) %>">
  <%= link_to 'Cheques', financeiro_cheques_path %>
</li>
<li class="<%= active_class(financeiro_depositos_path) %>">
  <%= link_to 'Depósitos', financeiro_depositos_path %>
</li>
