<li class="divider"></li>
<li class="nav-title">Financeiro</li>
<li class="nav-item nav-dropdown">
  <%= link_financeiro_to 'A Receber', '#', class: 'nav-link nav-dropdown-toggle' %>

  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <%= link_financeiro_to 'Todos', financeiro_recebimentos_path,
                  class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_financeiro_to 'Em Aberto', financeiro_recebimentos_path(rcb_status: :aberto),
                  class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_financeiro_to 'Cart처rio', financeiro_recebimentos_path(rcb_status: :cartorio),
                  class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_financeiro_to 'Protestados', financeiro_recebimentos_path(rcb_status: :protestado),
                  class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_financeiro_to 'Em M찾os', financeiro_recebimentos_path(rcb_status: :titulo_maos),
                  class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_financeiro_to 'Pagos', financeiro_recebimentos_path(rcb_status: :pago),
                  class: 'nav-link' %>
    </li>
  </ul>
</li>

<li class="nav-item">
  <%= link_financeiro_to 'A Pagar', '#', class: 'nav-link' %>
</li>

<li class="nav-item">
  <%= link_financeiro_to 'Cart천es', financeiro_cartoes_path, class: 'nav-link' %>
</li>

<% if admin? %>
  <li class="nav-item nav-dropdown">
    <%= link_financeiro_to 'Cheques', '#', class: 'nav-link nav-dropdown-toggle' %>

    <ul class="nav-dropdown-items">
      <li class="nav-item">
        <%= link_financeiro_to 'Todos',
                    financeiro_cheques_path,
                    class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_financeiro_to 'Em Aberto',
                    financeiro_cheques_path(chq_status: :aberto),
                    class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_financeiro_to 'Devolvidos',
                    financeiro_cheques_path(chq_status: :devolvido),
                    class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_financeiro_to 'Depositados',
                    financeiro_cheques_path(chq_status: :depositado),
                    class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_financeiro_to 'Pagos',
                    financeiro_cheques_path(chq_status: :pago),
                    class: 'nav-link' %>
      </li>
    </ul>
  </li>
<% end %>

<li class="nav-item">
  <%= link_financeiro_to 'Dep처sitos', financeiro_depositos_path, class: 'nav-link' %>
</li>
