<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @lutos, remote: true %>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="w-10">
            <%= sort_link @search, :pagina, 'Página', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-10">
            <%= sort_link @search, :referencia, 'Referência', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-30">
            <%= sort_link @search, :descricao, 'Descrição', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-10 text-right">
            <%= sort_link @search, :preco, 'Preço', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-10 text-center">
            <%= sort_link @search, :un, 'Unidade', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-5 text-center">
            <%= sort_link @search, :qtde, 'Qtde', {}, { remote: true, method: :get } %>
          </th>
          <th class="w-1"><br></th>
          <% if logged_in? %>
            <th class="w-5"><br></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @lutos.each do |l| %>
          <tr>
            <td> <%= l.pagina %> </td>
            <td> <%= l.referencia %> </td>
            <td> <%= raw l.descricao %> </td>
            <td class="text-right"> <%= format_currency l.preco %> </td>
            <td class="text-center"> <%= l.un %> </td>
            <td class="text-center"> <%= l.qtde %> </td>
            <td class="text-right"> <%= qtde_badge(l) %> </td>

            <% if logged_in? %>
              <td class="text-right">
                <%= link_details_to '', edit_grafiara_luto_path(l), remote: true %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- pagination -->
<div class="row">
  <div class="col-lg-6">
    <%= paginate @lutos, remote: true %>
  </div>
</div>
<!-- /.row -->
