<a class="navbar-brand" href="#"></a>
<ul class="nav navbar-nav d-md-down-none">
  <li class="nav-item">
    <%= link_to '☰', '#', class: 'nav-link navbar-toggler sidebar-toggler' %>
  </li>

  <% if logged_in? %>
    <li class="nav-item px-2">
      <%= link_to 'Novo Recado', new_painel_recado_path,
                  class: 'nav-link' %>
    </li>

    <li class="nav-item dropdown hidden-md-down px-2">
      <%= link_to 'Estoque', '#',
            class: 'nav-link dropdown-toggle',
            'data-toggle' => 'dropdown',
            role: :button %>

      <div class="dropdown-menu dropdown-menu-left">
        <div class="dropdown-header text-center">
          <strong>Adicionar</strong>
        </div>

        <%= link_to new_estoque_blanqueta_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Blanqueta
        <% end %>

        <%= link_to new_estoque_chapa_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Chapa
        <% end %>

        <%= link_to new_estoque_envelope_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Envelope
        <% end %>

        <%= link_to new_estoque_papel_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Papel
        <% end %>

        <%= link_to new_estoque_cortado_papel_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Papel Cortado
        <% end %>

        <%= link_to new_estoque_quimico_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Químico
        <% end %>

        <%= link_to new_estoque_tinta_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Tinta
        <% end %>

        <%= link_to new_estoque_variado_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-plus"></i>Variado
        <% end %>
      </div>
    </li>
    <!-- estoque -->

    <li class="nav-item dropdown hidden-md-down px-2">
      <%= link_to 'Financeiro', '#',
            class: 'nav-link dropdown-toggle',
            'data-toggle' => 'dropdown',
            role: :button %>

      <div class="dropdown-menu dropdown-menu-left">
        <div class="dropdown-header text-center">
          <strong>A Receber</strong>
        </div>

        <%= link_to remessa_financeiro_recebimentos_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-cloud-upload"></i>Importar Remessa
        <% end %>

        <%= link_to retorno_financeiro_recebimentos_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-cloud-upload"></i>Importar Retorno
        <% end %>

        <div class="dropdown-header text-center">
          <strong>Adicionar</strong>
        </div>

        <%= link_to new_financeiro_cheque_path, remote: true,
                    class: 'dropdown-item' do %>
          <i class="icon-note"></i>Cadastrar Cheque
        <% end %>

        <%= link_to new_financeiro_deposito_path, class: 'dropdown-item' do %>
          <i class="icon-wallet"></i>Novo Depósito
        <% end %>
      </div>
    </li>
    <!-- financeiro -->

    <li class="nav-item dropdown hidden-md-down px-2">
      <%= link_to 'Cadastro', '#',
            class: 'nav-link dropdown-toggle',
            'data-toggle' => 'dropdown',
            role: :button %>

      <div class="dropdown-menu dropdown-menu-left">
        <div class="dropdown-header text-center">
          <strong>Adicionar</strong>
        </div>

        <%= link_to new_cadastro_cliente_path, remote: true, class: 'dropdown-item' do %>
          <i class="icon-user-follow"></i>Cliente
        <% end %>

        <%= link_to new_cadastro_fornecedor_path, remote: true, class: 'dropdown-item' do %>
          <i class="icon-user-follow"></i>Fornecedor
        <% end %>
      </div>
    </li>
    <!-- cadastro -->
  <% end %>
</ul>

<ul class="nav navbar-nav ml-auto">
  <% if Rails.env.development? %>
    <li class="nav-item px-4 text-white" style="background-color: crimson">
      <%= fa_tag 'icon-fire' %>
      Development
    </li>
  <% end %>
  <li class="nav-item dropdown px-4">
    <% if logged_in? %>
      <%= link_to current_user.nome, '#',
                  class: 'nav-link dropdown-toggle nav-link',
                  'data-toggle' => 'dropdown',
                  role: :button %>

      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to logout_path, method: :delete, class: 'dropdown-item' do %>
          <%= fa_tag 'icon-power' %>
          Sair
        <% end %>
      </div>
    <% else %>
      <%= link_to login_path, remote: true, class: 'nav-link' do %>
        <%= fa_tag 'icon-login px-2' %>
        Entrar
      <% end %>
    <% end %>
  </li>
</ul>
