<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="#">
          <%= image_tag('notes.png', size: '25x25') %>
        </a>
      </li>
      <li>
        <%= link_to estoque_blanquetas_path do %>
          <%= image_tag('trolley.png', size: '25x25') %>
        <% end %>
      </li>
      <li>
        <a href="#">
          <%= image_tag('money-bag.png', size: '25x25') %>
        </a>
      </li>
      <li>
        <a href="#">
        <%= image_tag('credit-cards.png', size: '25x25') %>
        </a>
      </li>
      <li>
        <%= link_to cadastro_clientes_path do %>
          <%= image_tag('agenda.png', size: '25x25') %>
        <% end %>
      </li>
    </ul>
    <!-- /.sidebar-nav -->

  </div>
  <!-- /.sidebar-wrapper -->

  <div id="page-content-wrapper">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>
  <!-- /.page-content-wrapper -->

</div>
<!-- /.wrapper -->
