<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a href="#">
          <!-- <i class="fa fa-sticky-note-o fa-lg" aria-hidden="true"></i> -->
          <%= image_tag('notes.png', size: '25x25') %>
        </a>
      </li>
      <li>
        <%= link_to estoque_blanquetas_path do %>
          <!-- <i class="fa fa-archive fa-lg" aria-hidden="true"></i> -->
          <%= image_tag('trolley.png', size: '25x25') %>
        <% end %>
      </li>
      <li>
        <a href="#">
          <%= image_tag('money-bag.png', size: '25x25') %>
        </a>
      </li>
      <li>
        <a href="#">
        <%= image_tag('credit-cards.png', size: '25x25') %>
        </a>
      </li>
      <li>
        <a href="#">
          <%= image_tag('agenda.png', size: '25x25') %>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-wrapper -->

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.page-content-wrapper -->

</div>
<!-- /.wrapper -->
