<!DOCTYPE html>
<html>
  <head>
    <title>Masterprint <%= ' Dev' if Rails.env.development? %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar">
      <%= render 'layouts/navbar' %>
    </header>

    <div class="app-body">
      <div class="sidebar">
      <%= render 'layouts/sidebar' %>
      </div>

      <main class="main">
        <div class="container-fluid pt-4">
          <div class="animated fadeIn">
            <%# render 'layouts/flash' %>
            <script type="text/javascript">
              <% flash.each do |f| %>
                <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
                toastr['<%= type %>']('<%= f[1] %>', 'Sucesso', {"closeButton": true, "progressBar": true});
              <% end %>
            </script>
            <div id="content">
              <%= yield %>
            </div>
            <%= debug(params) if Rails.env.development? %>
          </div>

          <%= render 'shared/modal' %>
        </div>
      </main>
    </div>

    <footer class="app-footer">
      <span class="float-right">Masterprint © 2017</span>
    </footer>
  </body>
</html>
