<!DOCTYPE html>
<html>
  <head>
    <title>Masterprint <%= 'Dev' if Rails.env.development? %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= body_logged_in? %>">
    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <%= render 'shared/spinner' %>
    <% if logged_in? %>
      <%= render 'layouts/sidebar' %>
    <% else %>
      <div class="container">
        <%= render 'layouts/flash' %>
        <%= yield %>
      </div>
    <% end %>
    <%= render "shared/modal" %>

  <%= debug(params) if Rails.env.development? %>
  </body>
</html>
